language: ruby
rvm:
- 2.2.5
env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
sudo: false
branches:
  only:
  - master
install:
- bundle install
script:
- bundle exec jekyll build
- timeout 120s bundle exec htmlproofer ./_site --check-html --check-favicon --allow-hash-href
  --external_only --only-4xx --http-status-ignore 429
after_success: s3_website push
notifications:
  slack:
    rooms:
      - secure: YidOiqadKPTiBoLShy8H/I9dBmN1py0k4PLAzwtG3ayV784wFQ34OKE+QnDDX4g+5UeM9L67jGCvfLapz14fQyzkXD68Dejho0YKC8Cd1aipTK8bnM+VXocAD78x2fpFtG7lgkws2sfR+caKJ7P3JRCst8G2y36cjsi4z6Weim17ViFeBcD4uP3suJTaHy6BMXPx27J3Ae30/xz4Ex1nnU+l22amMAnTuhcuq6pBD5Ane8dKSe1Mo5Ro7VHt0mGfAz37ee27PMuOJIPNTOM4acvedNfW/XDIwiUt7fVd075KaimmXM65aYTROFoMErtQFK8QPigZx+hE4tbgtXsPuKA/ZmEDRUOlnP5ndZYk8Ymf/K03K0/1ks9JDBmeZiXPLZgwPW7zEebKfFvaNiFuDe0tCWudMRqUfWPPwet1td6P8AgoFwYosX8NFolvpG5LoTIO5NHQm5sy3gjQP2kXE2jUFUs12F83wmGWtK34BTSx3K1tcgMWVYgZtB48anSE+qlTF+JNHpJn+BHB4F2EUAyDFTHVHxyLFVfXbwGTQhoVBOLvfgFh9Qek+WSs8fKSGmRyLHDzBstjGAwUc9CjPk+SEB8guWfRXz4kVq+tvN4eYk4g08ZihLxyC54ymMppwjmIikOeJlHcUmg0giTwZh9iO0MHWNeeQ0nfJSedD+Q=
    on_success: always
