<p><strong>Chair:</strong><br>
Montserrat Piera<br>
438 Anderson Hall<br>
<a href="tel:2152048285">(215) 204-8285</a><br>
<a href="mailto:mpiera01@temple.edu">mpiera01@temple.edu</a></p>
<hr>
<p><strong>Portuguese Advisor:</strong><br>
Adam Joseph Shellhorse, Portuguese Minor and Brazilian Studies Advisor<br>
440 Anderson Hall<br>
<a href="tel:2152048285">(215) 204-8285</a><br>
<a href="mailto:aj.shellhorse@temple.edu">aj.shellhorse@temple.edu</a></p>
<hr>
<p><strong>Administrator:</strong><br>
Michelle Pugliese<br>
429 Anderson Hall<br>
<a href="tel:2152045628">(215) 204-5628</a><br>
<a href="mailto:pugliese@temple.edu">pugliese@temple.edu</a></p>
